:root {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    --black: #000000;
    --blackTranslucent50: rgba(0,0,0,.5);
    --blackTranslucent40: rgba(0,0,0,.4);
    --blackTranslucent20: rgba(0,0,0,.2);
    --blackTranslucent10: rgba(0,0,0,.1);
    --white: #FFFFFF;
    --whiteTranslucent40: rgba(255,255,255,.4);
    --whiteTranslucent90: rgba(255,255,255,.9);
    --neutralDark: #242424;
    --neutralPrimary: #424242;
    --neutralPrimaryAlt: #616161;
    --neutralPrimarySurface: #FFFFFF;
    --neutralSecondary: #808080;
    --neutralSecondaryAlt: #A6A6A6;
    --neutralSecondarySurface: #FAFAFA;
    --neutralTertiary: #D1D1D1;
    --neutralTertiaryAlt: #E0E0E0;
    --neutralTertiarySurface: #F0F0F0;
    --neutralQuaternary: #E5E5E5;
    --neutralQuaternaryAlt: #EBEBEB;
    --neutralLight: #F0F0F0;
    --neutralLighter: #F5F5F5;
    --neutralLighterAlt: #FAFAFA;
    --redDark: #A4262C;
    --green20: #498205;
    --purple: #881798;
    --suiteuxNeutralLight: #E1DFDD;
    --suiteuxNeutralSecondary: #484644;
    --flaggedMessage: #fffdd9;
    --richUserContentBackground: #fff;
    --composeNeutralBackground: #fff;
    --composeNeutralLighterBackground: #F5F5F5;
    --readingPaneCardBorder: #EBEBEB;
    --readingPaneCardFocusBorder: #D1D1D1;
    --oobeWhite: #ffffff;
    --oobePrimary: #0078d4;
    --oobeDarkAlt: #106EBE;
    --oobeThemeLighter: #DEECF9;
    --cardStyleWhite: #ffffff;
    --freeBusyAwayColor: #B4009E;
    --messageWebWarning: #fff4ce;
    --messageMobileWarningPrimary: #ffd335;
    --messageMobileWarningShade20: #c2a129;
    --messageMobileWarningShade30: #8f761e;
    --messageMobileWarningTint30: #fff2c3;
    --messageMobileWarningTint40: #fff8df;
    --communicationBlueWebPrimary: #0078d4;
    --messageMobileDangerPrimary: #d92c2c;
    --messageMobileDangerShade20: #a52121;
    --messageMobileDangerTint30: #f4b9b9;
    --messageMobileDangerTint40: #f9d9d9;
    --messageMobileSuccessPrimary: #13a10e;
    --presenceAway: #ffaa44;
    --presenceDoNotDisturb: #c50f1f;
    --presenceOnline: #6bb700;
    --presenceInvisible: #8a8886;
    --presenceOOF: #b4009e;
    --addisonComponentButtonGradientStart: #f7f0ff;
    --addisonComponentButtonGradientEnd: #e9dfff;
    --storageCritialStateColor: #9F282B;
    --storageCritialStateHoverColor: #751D1F;
    --storageNearingStateColor: #835B00;
    --storageNearingStateHoverColor: #463100;
    --storageUsageBarBorder: #ffffff;
    --bizBarRed: #FDE7E9;
    --msqOneDrive: #3483FA;
    --msqTeams: #9A44FC;
    --msqOutlook: #C48600;
    --msqWindows: #D64400;
    --msqEdge: #1BA756;
    --placesLightBlueSolidColor: #28DFF8;
    --placesNavyBlueSolidColor: #209DF5;
    --placesBackgroundColorPink: rgba(255,116,243,.2);
    --placesBackgroundColorPurple: rgba(205,112,255,.2);
    --placesBackgroundColorLightBlue: rgba(39,213,248,.2);
    --placesBackgroundColorNavy: rgba(9,99,121,.2);
    --placesBluePrimary: #0078d4;
    --placesBlueTint40: #a9d3f2;
    --placesLightBackground3: #f5f5f5;
    --placesLightBlueBackground: #ebf3fc;
    --placesNeutralGrey92: #ebebeb;
    --colorBrandBackgroundInvertedSelected: #cfe4fa;
    --colorBrandBackgroundInvertedHover: #ebf3fc;
    --colorPaletteCornflowerBackground2: #2C3C85;
    --placesBlueGradient1: #2A4FFE;
    --placesBlueGradient2: #4D30FC;
    --placesBlueBackground1: #E1E6FC;
    --placesBlueForeground1: #637CEF;
    --placesBlueBorder1: #2510BC;
    --placesCornflowerForeground1: #F7F9FE;
    --placesRemote1: #CDEDF4;
    --placesRemoteBorder1: #0099BC;
    --neutralBackground6: #E6E6E6;
    --lilacBackground2: #E6BFED;
    --neutralForeground4: #707070;
    --neutralBackground2Pressed: #DBDBDB;
    --sharedCornflowerTint20: #778DF1;
    --sharedCornflowerTint30: #93A4F4;
    --sharedCornflowerTint50: #E1E6FC;
    --sharedCornflowerTint60: #F7F9FE;
    --sharedCornFlowerShade20: #3C51B4;
    --placesPurpleOOFBackground1: #F5DAF2;
    --placesPurpleOOFForeground1: #AF33A1;
    --placesPurpleGradient1: #6A11CB;
    --boxShadowPrimary: rgba(0, 0, 0, 0.14);
    --boxShadowSecondary: rgba(0, 0, 0, 0.12);
    --copilotGradientStart: #BA6DF1;
    --copilotGradientEnd: #4B9DF5;
    --yellow: #ffb900;
    --orange: #d83b01;
    --red: #e81123;
    --blue: #0078d4;
    --green: 107c10;
    --sharedLightGreenTint50: #CEF0CD;
    --themeDarker: #0C3B5E;
    --themeDark: #0F548C;
    --themeDarkAlt: #115EA3;
    --themePrimary: #0F6CBD;
    --themeSecondary: #2B88D8;
    --themeSecondarySurfaceSelected: #CFE4FA;
    --themeTertiary: #62ABF5;
    --themeLight: #B4D6FA;
    --themeLighter: #CFE4FA;
    --themeLighterAlt: #EBF3FC;
    --headerBackground: #0F6CBD;
    --headerBackgroundSearch: #0F6CBD;
    --headerBrandText: #FFFFFF;
    --headerTextIcons: #FFFFFF;
    --headerSearchBoxBackground: rgba(255,255,255,.7);
    --headerSearchBoxIcon: #0C3B5E;
    --headerSearchPlaceholderText: #0C3B5E;
    --headerSearchButtonBackground: #0F6CBD;
    --headerSearchButtonBackgroundHover: #0C3B5E;
    --headerSearchButtonIcon: #FFFFFF;
    --headerSearchFilters: #0F6CBD;
    --headerSearchFiltersHover: #0C3B5E;
    --headerButtonsBackground: #0F6CBD;
    --headerButtonsBackgroundHover: #0C3B5E;
    --headerButtonsBackgroundSearch: #0F6CBD;
    --headerButtonsBackgroundSearchHover: #0C3B5E;
    --headerBadgeBackground: #0C3B5E;
    --headerBadgeText: #FFFFFF;
    --headerSearchIcon: #FFFFFF;
    --searchBoxBackground: rgba(255,255,255,.7);
    --fallback-black: #000000;
    --fallback-blackTranslucent50: rgba(0,0,0,.5);
    --fallback-blackTranslucent40: rgba(0,0,0,.4);
    --fallback-blackTranslucent20: rgba(0,0,0,.2);
    --fallback-blackTranslucent10: rgba(0,0,0,.1);
    --fallback-white: #FFFFFF;
    --fallback-whiteTranslucent40: rgba(255,255,255,.4);
    --fallback-whiteTranslucent90: rgba(255,255,255,.9);
    --fallback-neutralDark: #242424;
    --fallback-neutralPrimary: #424242;
    --fallback-neutralPrimaryAlt: #616161;
    --fallback-neutralPrimarySurface: #FFFFFF;
    --fallback-neutralSecondary: #808080;
    --fallback-neutralSecondaryAlt: #A6A6A6;
    --fallback-neutralSecondarySurface: #FAFAFA;
    --fallback-neutralTertiary: #D1D1D1;
    --fallback-neutralTertiaryAlt: #E0E0E0;
    --fallback-neutralTertiarySurface: #F0F0F0;
    --fallback-neutralQuaternary: #E5E5E5;
    --fallback-neutralQuaternaryAlt: #EBEBEB;
    --fallback-neutralLight: #F0F0F0;
    --fallback-neutralLighter: #F5F5F5;
    --fallback-neutralLighterAlt: #FAFAFA;
    --fallback-redDark: #A4262C;
    --fallback-green20: #498205;
    --fallback-purple: #881798;
    --fallback-suiteuxNeutralLight: #E1DFDD;
    --fallback-suiteuxNeutralSecondary: #484644;
    --fallback-flaggedMessage: #fffdd9;
    --fallback-richUserContentBackground: #fff;
    --fallback-composeNeutralBackground: #fff;
    --fallback-composeNeutralLighterBackground: #F5F5F5;
    --fallback-readingPaneCardBorder: #EBEBEB;
    --fallback-readingPaneCardFocusBorder: #D1D1D1;
    --fallback-oobeWhite: #ffffff;
    --fallback-oobePrimary: #0078d4;
    --fallback-oobeDarkAlt: #106EBE;
    --fallback-oobeThemeLighter: #DEECF9;
    --fallback-cardStyleWhite: #ffffff;
    --fallback-freeBusyAwayColor: #B4009E;
    --fallback-messageWebWarning: #fff4ce;
    --fallback-messageMobileWarningPrimary: #ffd335;
    --fallback-messageMobileWarningShade20: #c2a129;
    --fallback-messageMobileWarningShade30: #8f761e;
    --fallback-messageMobileWarningTint30: #fff2c3;
    --fallback-messageMobileWarningTint40: #fff8df;
    --fallback-communicationBlueWebPrimary: #0078d4;
    --fallback-messageMobileDangerPrimary: #d92c2c;
    --fallback-messageMobileDangerShade20: #a52121;
    --fallback-messageMobileDangerTint30: #f4b9b9;
    --fallback-messageMobileDangerTint40: #f9d9d9;
    --fallback-messageMobileSuccessPrimary: #13a10e;
    --fallback-presenceAway: #ffaa44;
    --fallback-presenceDoNotDisturb: #c50f1f;
    --fallback-presenceOnline: #6bb700;
    --fallback-presenceInvisible: #8a8886;
    --fallback-presenceOOF: #b4009e;
    --fallback-addisonComponentButtonGradientStart: #f7f0ff;
    --fallback-addisonComponentButtonGradientEnd: #e9dfff;
    --fallback-storageCritialStateColor: #9F282B;
    --fallback-storageCritialStateHoverColor: #751D1F;
    --fallback-storageNearingStateColor: #835B00;
    --fallback-storageNearingStateHoverColor: #463100;
    --fallback-storageUsageBarBorder: #ffffff;
    --fallback-bizBarRed: #FDE7E9;
    --fallback-msqOneDrive: #3483FA;
    --fallback-msqTeams: #9A44FC;
    --fallback-msqOutlook: #C48600;
    --fallback-msqWindows: #D64400;
    --fallback-msqEdge: #1BA756;
    --fallback-placesLightBlueSolidColor: #28DFF8;
    --fallback-placesNavyBlueSolidColor: #209DF5;
    --fallback-placesBackgroundColorPink: rgba(255,116,243,.2);
    --fallback-placesBackgroundColorPurple: rgba(205,112,255,.2);
    --fallback-placesBackgroundColorLightBlue: rgba(39,213,248,.2);
    --fallback-placesBackgroundColorNavy: rgba(9,99,121,.2);
    --fallback-placesBluePrimary: #0078d4;
    --fallback-placesBlueTint40: #a9d3f2;
    --fallback-placesLightBackground3: #f5f5f5;
    --fallback-placesLightBlueBackground: #ebf3fc;
    --fallback-placesNeutralGrey92: #ebebeb;
    --fallback-colorBrandBackgroundInvertedSelected: #cfe4fa;
    --fallback-colorBrandBackgroundInvertedHover: #ebf3fc;
    --fallback-colorPaletteCornflowerBackground2: #2C3C85;
    --fallback-placesBlueGradient1: #2A4FFE;
    --fallback-placesBlueGradient2: #4D30FC;
    --fallback-placesBlueBackground1: #E1E6FC;
    --fallback-placesBlueForeground1: #637CEF;
    --fallback-placesBlueBorder1: #2510BC;
    --fallback-placesCornflowerForeground1: #F7F9FE;
    --fallback-placesRemote1: #CDEDF4;
    --fallback-placesRemoteBorder1: #0099BC;
    --fallback-neutralBackground6: #E6E6E6;
    --fallback-lilacBackground2: #E6BFED;
    --fallback-neutralForeground4: #707070;
    --fallback-neutralBackground2Pressed: #DBDBDB;
    --fallback-sharedCornflowerTint20: #778DF1;
    --fallback-sharedCornflowerTint30: #93A4F4;
    --fallback-sharedCornflowerTint50: #E1E6FC;
    --fallback-sharedCornflowerTint60: #F7F9FE;
    --fallback-sharedCornFlowerShade20: #3C51B4;
    --fallback-placesPurpleOOFBackground1: #F5DAF2;
    --fallback-placesPurpleOOFForeground1: #AF33A1;
    --fallback-placesPurpleGradient1: #6A11CB;
    --fallback-boxShadowPrimary: rgba(0, 0, 0, 0.14);
    --fallback-boxShadowSecondary: rgba(0, 0, 0, 0.12);
    --fallback-copilotGradientStart: #BA6DF1;
    --fallback-copilotGradientEnd: #4B9DF5;
    --fallback-yellow: #ffb900;
    --fallback-orange: #d83b01;
    --fallback-red: #e81123;
    --fallback-blue: #0078d4;
    --fallback-green: 107c10;
    --fallback-sharedLightGreenTint50: #CEF0CD;
    --fallback-themeDarker: #0C3B5E;
    --fallback-themeDark: #0F548C;
    --fallback-themeDarkAlt: #115EA3;
    --fallback-themePrimary: #0F6CBD;
    --fallback-themeSecondary: #2B88D8;
    --fallback-themeSecondarySurfaceSelected: #CFE4FA;
    --fallback-themeTertiary: #62ABF5;
    --fallback-themeLight: #B4D6FA;
    --fallback-themeLighter: #CFE4FA;
    --fallback-themeLighterAlt: #EBF3FC;
    --fallback-headerBackground: #0F6CBD;
    --fallback-headerBackgroundSearch: #0F6CBD;
    --fallback-headerBrandText: #FFFFFF;
    --fallback-headerTextIcons: #FFFFFF;
    --fallback-headerSearchBoxBackground: rgba(255,255,255,.7);
    --fallback-headerSearchBoxIcon: #0C3B5E;
    --fallback-headerSearchPlaceholderText: #0C3B5E;
    --fallback-headerSearchButtonBackground: #0F6CBD;
    --fallback-headerSearchButtonBackgroundHover: #0C3B5E;
    --fallback-headerSearchButtonIcon: #FFFFFF;
    --fallback-headerSearchFilters: #0F6CBD;
    --fallback-headerSearchFiltersHover: #0C3B5E;
    --fallback-headerButtonsBackground: #0F6CBD;
    --fallback-headerButtonsBackgroundHover: #0C3B5E;
    --fallback-headerButtonsBackgroundSearch: #0F6CBD;
    --fallback-headerButtonsBackgroundSearchHover: #0C3B5E;
    --fallback-headerBadgeBackground: #0C3B5E;
    --fallback-headerBadgeText: #FFFFFF;
    --fallback-headerSearchIcon: #FFFFFF;
    --fallback-searchBoxBackground: rgba(255,255,255,.7);
    --darkreader-bg--black: #131313;
    --darkreader-text--black: #d8d7d4;
    --darkreader-border--black: #8a8275;
    --darkreader-bg--blackTranslucent40: rgba(19, 19, 19, 0.4);
    --darkreader-bg--blackTranslucent10: rgba(19, 19, 19, 0.1);
    --darkreader-bg--white: #28292a;
    --darkreader-text--white: #d8d7d4;
    --darkreader-border--white: #3c3f41;
    --darkreader-bg--neutralDark: #2a2c2d;
    --darkreader-text--neutralDark: #c5c1bc;
    --darkreader-bg--neutralPrimary: #3e4143;
    --darkreader-text--neutralPrimary: #b5b0a9;
    --darkreader-border--neutralPrimary: #777166;
    --darkreader-bg--neutralPrimaryAlt: #515659;
    --darkreader-text--neutralPrimaryAlt: #a49e94;
    --darkreader-border--neutralPrimaryAlt: #6f685f;
    --darkreader-bg--neutralPrimarySurface: #28292a;
    --darkreader-border--neutralPrimarySurface: #3c3f41;
    --darkreader-bg--neutralSecondary: #656c6f;
    --darkreader-text--neutralSecondary: #948d81;
    --darkreader-border--neutralSecondary: #5b6063;
    --darkreader-border--neutralSecondaryAlt: #515659;
    --darkreader-bg--neutralSecondarySurface: #2a2c2d;
    --darkreader-border--neutralSecondarySurface: #3d4143;
    --darkreader-bg--neutralTertiary: #3e4143;
    --darkreader-text--neutralTertiary: #c0bbb6;
    --darkreader-border--neutralTertiary: #474b4e;
    --darkreader-bg--neutralTertiaryAlt: #37393b;
    --darkreader-text--neutralTertiaryAlt: #c7c5c0;
    --darkreader-border--neutralTertiaryAlt: #44474a;
    --darkreader-bg--neutralQuaternary: #343739;
    --darkreader-border--neutralQuaternary: #424648;
    --darkreader-bg--neutralQuaternaryAlt: #313335;
    --darkreader-border--neutralQuaternaryAlt: #414446;
    --darkreader-bg--neutralLight: #2e3133;
    --darkreader-text--neutralLight: #d1ceca;
    --darkreader-border--neutralLight: #3f4445;
    --darkreader-bg--neutralLighter: #2d2e2f;
    --darkreader-border--neutralLighter: #3e4244;
    --darkreader-bg--neutralLighterAlt: #2a2c2d;
    --darkreader-border--neutralLighterAlt: #3d4143;
    --darkreader-text--redDark: #cd676c;
    --darkreader-text--green20: #b3e875;
    --darkreader-bg--flaggedMessage: #423f13;
    --darkreader-border--readingPaneCardBorder: #414446;
    --darkreader-border--readingPaneCardFocusBorder: #474b4e;
    --darkreader-text--messageMobileDangerShade20: #d16666;
    --darkreader-text--red: #df3947;
    --darkreader-bg--themeDarker: #1c3b53;
    --darkreader-text--themeDarker: #95c1e1;
    --darkreader-bg--themeDark: #1d4c72;
    --darkreader-text--themeDark: #7db5e0;
    --darkreader-border--themeDark: #2473b3;
    --darkreader-bg--themeDarkAlt: #1f5382;
    --darkreader-text--themeDarkAlt: #71b0df;
    --darkreader-border--themeDarkAlt: #236cae;
    --darkreader-bg--themePrimary: #1d5c93;
    --darkreader-text--themePrimary: #63aae1;
    --darkreader-border--themePrimary: #1f6bac;
    --darkreader-bg--themeSecondarySurfaceSelected: #343739;
    --darkreader-bg--themeTertiary: #1b538c;
    --darkreader-border--themeTertiary: #1b548d;
    --darkreader-bg--themeLight: #3b3e3f;
    --darkreader-text--themeLight: #97c2e6;
    --darkreader-border--themeLight: #1a4777;
    --darkreader-bg--themeLighter: #343739;
    --darkreader-border--themeLighter: #1c446e;
    --darkreader-bg--themeLighterAlt: #2d2f30;
    --darkreader-bg--headerBackgroundSearch: #1d5c93;
    --darkreader-text--headerTextIcons: #d8d7d4;
    --darkreader-bg--headerSearchBoxBackground: rgba(40, 41, 42, 0.7);
    --darkreader-bg--headerButtonsBackground: #1d5c93;
    --darkreader-bg--headerButtonsBackgroundHover: #1c3b53;
    --darkreader-bg--headerButtonsBackgroundSearch: #1d5c93;
    --darkreader-bg--headerButtonsBackgroundSearchHover: #1c3b53;
    --darkreader-bg--fallback-black: #131313;
    --darkreader-text--fallback-black: #d8d7d4;
    --darkreader-border--fallback-black: #8a8275;
    --darkreader-bg--fallback-blackTranslucent40: rgba(19, 19, 19, 0.4);
    --darkreader-bg--fallback-white: #28292a;
    --darkreader-text--fallback-white: #d8d7d4;
    --darkreader-border--fallback-white: #3c3f41;
    --darkreader-bg--fallback-neutralDark: #2a2c2d;
    --darkreader-text--fallback-neutralDark: #c5c1bc;
    --darkreader-bg--fallback-neutralPrimary: #3e4143;
    --darkreader-text--fallback-neutralPrimary: #b5b0a9;
    --darkreader-border--fallback-neutralPrimary: #777166;
    --darkreader-bg--fallback-neutralPrimaryAlt: #515659;
    --darkreader-text--fallback-neutralPrimaryAlt: #a49e94;
    --darkreader-border--fallback-neutralPrimaryAlt: #6f685f;
    --darkreader-bg--fallback-neutralPrimarySurface: #28292a;
    --darkreader-border--fallback-neutralPrimarySurface: #3c3f41;
    --darkreader-bg--fallback-neutralSecondary: #656c6f;
    --darkreader-text--fallback-neutralSecondary: #948d81;
    --darkreader-border--fallback-neutralSecondary: #5b6063;
    --darkreader-bg--fallback-neutralSecondarySurface: #2a2c2d;
    --darkreader-border--fallback-neutralSecondarySurface: #3d4143;
    --darkreader-bg--fallback-neutralTertiary: #3e4143;
    --darkreader-text--fallback-neutralTertiary: #c0bbb6;
    --darkreader-border--fallback-neutralTertiary: #474b4e;
    --darkreader-bg--fallback-neutralTertiaryAlt: #37393b;
    --darkreader-text--fallback-neutralTertiaryAlt: #c7c5c0;
    --darkreader-border--fallback-neutralTertiaryAlt: #44474a;
    --darkreader-bg--fallback-neutralQuaternary: #343739;
    --darkreader-border--fallback-neutralQuaternary: #424648;
    --darkreader-bg--fallback-neutralQuaternaryAlt: #313335;
    --darkreader-border--fallback-neutralQuaternaryAlt: #414446;
    --darkreader-bg--fallback-neutralLight: #2e3133;
    --darkreader-text--fallback-neutralLight: #d1ceca;
    --darkreader-border--fallback-neutralLight: #3f4445;
    --darkreader-bg--fallback-neutralLighter: #2d2e2f;
    --darkreader-border--fallback-neutralLighter: #3e4244;
    --darkreader-bg--fallback-neutralLighterAlt: #2a2c2d;
    --darkreader-border--fallback-neutralLighterAlt: #3d4143;
    --darkreader-text--fallback-redDark: #cd676c;
    --darkreader-bg--fallback-themeDarker: #1c3b53;
    --darkreader-text--fallback-themeDarker: #95c1e1;
    --darkreader-bg--fallback-themeDark: #1d4c72;
    --darkreader-text--fallback-themeDark: #7db5e0;
    --darkreader-border--fallback-themeDark: #2473b3;
    --darkreader-text--fallback-themeDarkAlt: #71b0df;
    --darkreader-border--fallback-themeDarkAlt: #236cae;
    --darkreader-bg--fallback-themePrimary: #1d5c93;
    --darkreader-text--fallback-themePrimary: #63aae1;
    --darkreader-border--fallback-themePrimary: #1f6bac;
    --darkreader-bg--fallback-themeSecondarySurfaceSelected: #343739;
    --darkreader-bg--fallback-themeTertiary: #1b538c;
    --darkreader-border--fallback-themeTertiary: #1b548d;
    --darkreader-bg--fallback-themeLight: #3b3e3f;
    --darkreader-text--fallback-themeLight: #97c2e6;
    --darkreader-border--fallback-themeLight: #1a4777;
    --darkreader-bg--fallback-themeLighter: #343739;
    --darkreader-border--fallback-themeLighter: #1c446e;
    --darkreader-bg--fallback-themeLighterAlt: #2d2f30;
    --darkreader-bg--fallback-headerBackgroundSearch: #1d5c93;
    --darkreader-text--fallback-headerTextIcons: #d8d7d4;
    --darkreader-bg--fallback-headerSearchBoxBackground: rgba(40, 41, 42, 0.7);
    --darkreader-bg--fallback-headerButtonsBackground: #1d5c93;
    --darkreader-bg--fallback-headerButtonsBackgroundHover: #1c3b53;
    --darkreader-bg--fallback-headerButtonsBackgroundSearch: #1d5c93;
    --darkreader-bg--fallback-headerButtonsBackgroundSearchHover: #1c3b53;
}